{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Buchungsanfrage
{% endblock %}

{% block content %}
    <h1>Buchungs&shy;anfrage</h1>
    {{ form_start(contact_form) }}
    {{ form_widget(contact_form) }}
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-envelope"></i>
        Anfrage senden
    </button>
    <a href="{{ path('helden_liste') }}" class="btn btn-default pull-right">Abbrechen</a>
    {{ form_end(contact_form) }}
{% endblock %}
