{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Buchungsanfrage
{% endblock %}

{% block content %}
    <h1>Buchungsanfrage</h1>
    <p class="lead text-success"><i class="fas fa-check"></i> Wir haben Ihre Buchungsfrage erhalten und werden uns bei Ihnen melden.</p>
    <table class="table table-bordered">
        <tr>
            <th>Ihr Name</th><td>{{ booking.name }}</td>
        </tr>
        <tr>
            <th>Ihre E-Mail-Adresse</th><td>{{ booking.email }}</td>
        </tr>
        <tr>
            <th>Held</th><td>{{ booking.hero.name }}</td>
        </tr>
        <tr>
            <th>Einsatztag</th><td>{{ booking.date|date('d.m.Y') }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>Beschreibung der Aufgabe</strong><br>
                {{ booking.description }}
            </td>
        </tr>
    </table>
    <a href="{{ path('helden_liste') }}" class="btn btn-default">Zurück zur Heldenübersicht</a>
{% endblock %}
